{% load static %}
<link rel="stylesheet" href="{% static 'microfonia/david.css' %}" type="text/css" charset="utf-8">
<script src="https://use.fontawesome.com/e09838e29b.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

										<!-- TÍTULO-->
<body id="fundocinza">
	<div id="fundopreto">

		<div class="main">
			<div class="container">
				<h1 class="fonte-titulo">MICROFONIA PRODUÇÕES</h1>
				<img id="capa-serie" src="https://i.ytimg.com/vi/UPt5-Kr0GCM/maxresdefault.jpg"/>
			</div>
		</div>

									<!-- SESSÃO DAS SÉRIES-->
		<div class="section">
			<div class="container">
				<div class="row">	
					<div class="col-md-6">
						<h3>PRIMEIRA SERIE</h3>
						<img src="https://i.ytimg.com/vi/UPt5-Kr0GCM/maxresdefault.jpg"/>
					</div>
					<div class="col-md-6">
						<ul>
							<li>EPISÓDIO 01</li>
							<li>EPISÓDIO 02</li>
							<li>EPISÓDIO 03</li>
							<li>EPISÓDIO 04</li>
							<li>EPISÓDIO 05</li>
							<li>EPISÓDIO 06</li>
							<li>EPISÓDIO 07</li>
							<li>EPISÓDIO 08</li>
							<li>EPISÓDIO 09</li>
							<li>EPISÓDIO 10</li>
							<li>EPISÓDIO 11</li>
							<li>EPISÓDIO 12</li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="row">	
					<div class="col-md-6">
						<h3>SEGUNDA SERIE</h3>
						<img src="https://i.ytimg.com/vi/UPt5-Kr0GCM/maxresdefault.jpg"/>
					</div>
					<div class="col-md-6">
						<ul>
							<li>EPISÓDIO 01</li>
							<li>EPISÓDIO 02</li>
						<li>EPISÓDIO 03</li>
							<li>EPISÓDIO 04</li>
							<li>EPISÓDIO 05</li>
							<li>EPISÓDIO 06</li>
							<li>EPISÓDIO 07</li>
							<li>EPISÓDIO 08</li>
							<li>EPISÓDIO 09</li>
							<li>EPISÓDIO 10</li>
							<li>EPISÓDIO 11</li>
							<li>EPISÓDIO 12</li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="row">	
					<div class="col-md-6">
						<h3>TERCEIRA SERIE</h3>
						<img src="https://i.ytimg.com/vi/UPt5-Kr0GCM/maxresdefault.jpg"/>
					</div>
					<div class="col-md-6">
						<ul>
							<li>EPISÓDIO 01</li>
							<li>EPISÓDIO 02</li>
						<li>EPISÓDIO 03</li>
							<li>EPISÓDIO 04</li>
							<li>EPISÓDIO 05</li>
							<li>EPISÓDIO 06</li>
							<li>EPISÓDIO 07</li>
							<li>EPISÓDIO 08</li>
							<li>EPISÓDIO 09</li>
							<li>EPISÓDIO 10</li>
							<li>EPISÓDIO 11</li>
							<li>EPISÓDIO 12</li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				
			</div>
		</div>



	</div>
</body>

