
{% extends "base.html" %}

{% load static %}

{% block title %} - Quem somos{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'microfonia/aboutus.css' %}" type="text/css" charset="utf-8"> {% endblock css%}

{% block headertitle %}QUEM SOMOS{% endblock headertitle %}

{% block content %}

<div class="aboutus">
	<div class="text-block black-text justify">
		<p class="text-size text-font about-subtitle">A Microfonia Produções é uma produtora de conteúdo independente que resgata um excelente porém esquecido meio de se contar histórias: os áudio-dramas.</p>
	</div>

	<div class="text-block black-text justify">
		<h2 class="heading-font">COMO NASCEMOS </h2>
		<div class="text-size text-font">
			<p>Criada em 2016 por Daniel Gaivota, David Barenco e Galu Carvalho, a produtora nasceu de uma vontade de se produzir narrativas interessantes e de se fazer conteúdo em formato podcast. Naturais de Petrópolis (RJ), grandes amigos a décadas, jogadores de RPG e escritores amadores, a criação de histórias sempre foi uma paixão para nós que precisávamos de um lugar para contá-las.</p>
			<p>De uma Viagem em janeiro de 2016, surgiu a ideia de unir o útil ao agradável. Galu e Daniel, numa viagem a Minas Gerais, conversaram sobre a falta que sentiam em ouvir algo de qualidade no formato narrativa. Daí surgiu a ideia de contactar David, que trabalha com áudio, para juntos produzirem histórias dos mais diversos estilos.</p>
			<p">Dada a facilidade de se produzir e disponibilizar podcasts, essa plataforma foi perfeita para o que tinham em mente. Então, em junho de 2016, começaram as primeiras gravações do que veio a se tornar a Microfonia Produções. Em 2017, Rafael Constâncio, vulgo Lomba, entrou para a equipe oficialmente, vindo para trabalhar na parte visual da empresa.</p>
		</div>
	</div>
	<div class="text-block black-text justify">
		<h2 class="heading-font alignright"">NOSSO OBJETIVO</h2>
		<div class="text-size text-font">
			<p>No Brasil o formato podcast se popularizou muito nos últimos anos. Aumentou o número de ouvintes e produtores de conteúdo em todo o mundo. Porém, o formato de narrativas não é muito explorado, ainda mais no nosso país. Um dos motivos deste fato é a grande dificuldade de se produzir um áudio-drama, que conta com muitas etapas: fazer um roteiro adaptado somente a sons, achar pessoas com vozes adequadas aos personagens, alugar um estúdio ou comprar os equipamentos necessários para a gravação, achar um trilha sonora e os efeitos adequados, editar todo o material, criar uma plataforma de hospedagem e divulgação, fazer a arte gráfica, e finalmente monetizar para que esse processo possa ser sempre viável.</p>
			<p>Tendo isso tudo em mente, resolvemos nos unir e aceitar o desafio de produzir áudio-dramas de qualidade independente das dificuldades. Por isso agradecemos muito a você que nos ouve e nos dá seu feedback. A você que pensa em escrever ou gravar conosco. A todos que de alguma forma participam para tornar esse processo possível. Que todos possam se beneficiar e usufruir das nossas histórias.</p>
		</div>
	</div>



	
	<div id="members">
		<h2 class="heading-font black-text">INTEGRANTES</h2>

		<div class="member text-block black-text">
			<h3 class="member-font alignright">DAVID BARENCO</h3>
			<div class="portrait-left">
				<img id="david" class=" fixed wp-image-147 alignleft" style="border-radius:50%;" src="{% static 'microfonia/img/myphoto.jpeg' %}" alt="Barenco" width="151" height="151" />
			</div>
			<div class="char">
				<p class="text-size text-font alignright"><strong>Editor de som, sonoplasta e roteirista.</strong><br/>
				Formado em Estudos de Mídia pela UFF e em Produção Musical pelo IATEC. Trabalhava como operador de áudio no Grupo Fluminense de Comunicação e agora como editor de áudio no Centro Budista Khadro Ling. Edita os áudio-dramas do Microfonia com muito amor e suor.</p>
			</div>
		</div>	

		<div class="member text-block black-text">
			<h3 class="member-font alignleft">GALU CARVALHO</h3>
			<div class="portrait-right">
				<img id="galu" class=" fixed wp-image-147 alignright" style="border-radius:50%;" src="{% static 'microfonia/img/myphoto2.jpeg' %}"  alt="Galu" width="151" height="151" />
			</div>
			<div class="char">
				<p class="text-size text-font alignleft"><strong> Diretor, ator e principalmente roteirista</strong><br/>
				Dono e professor no Galu Carvalho - Super English. Também atua como herói mascarado (quando o mundo precisa).</p>
			</div>
		</div>

		<div class="member text-block black-text">
			<h3 class="member-font alignright">DANIEL GAIVOTA</h3>
			<div class="portrait-left">
				<img id="daniel" class=" fixed wp-image-147 alignleft" style="border-radius:50%;" src="{% static 'microfonia/img/myphoto3.jpeg' %}"  alt="Daniel" width="151" height="151" />
			</div>
			<div class="char">
				<p class="text-size text-font alignright"><strong>Roteirista e produtor</strong><br/>
				Filósofo, escritor e educador, se envolve com mais projetos do que o tempo permite. Atualmente é diretor de uma escola no Rio de Janeiro que forma editores, programadores e roteiristas no Ensino Médio. Está apaixonado há muito tempo pelas tangerinas, jabuticabas e pelo mar, e sempre sonha um pouco antes de ir dormir.</p>
			</div>
		</div>

		<div class="member text-block black-text">
			<h3 class="member-font alignleft">RAFAEL "LOMBA' CONSTÂNCIO</h3>
			<div class="portrait-right">
				<img id="lomba" class=" fixed wp-image-147" style="border-radius:50%;" src="{% static 'microfonia/img/myphoto4.jpeg' %}"  alt="Lomba" width="151" height="151" />
			</div>
			<div class="char">
				<p class="text-size text-font alignleft"><strong>Publicitário, diretor de arte e ninja full-time.</strong><br/>
				Atualmente trabalha com produção e edição de vídeos para o YouTube e outras plataformas. Baixista amador, ama música e de vez em quando toca rock por aí..</p>
			</div>
		</div>

	</div>
</div>

{% endblock content %}