{% load static %}

<link rel="stylesheet" href="{% static 'microfonia/template.css' %}" type="text/css" charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">

{% block css %} CSS ESPECIFICO AQUI {% endblock %}

<script src="https://use.fontawesome.com/e09838e29b.js"></script>

<head>
	<title>Microfonia Produções</title>
</head>

<body class="bg-format">
	<div id="menu">
		<nav class="nav">
			<ul class="title-font">
				<li><a href="{% url 'home' %}">PÁGINA INICIAL</a></li>
				<hr class="grey-line">
				<li><a href="{% url 'videos' %}">MINI-SÉRIES</a></li>
				<hr class="grey-line">
				<li>QUEM SOMOS</li>
				<hr class="grey-line">
				<li>CONTATO</li>
			</ul>
		</nav>
	</div>
	<div id="feed">
		<header class="header">


			<div>
				<button id="menu-button" class="button-font"><i class="fa fa-bars" aria-hidden="true"></i>MENU</button>
			</div>


			<div>
				<h1 class="title-font aligncenter home-title">MICROFONIA PRODUÇÕES</h1>
				<p class="subtitle-font aligncenter home-subtitle">Áudio-dramas e podcasts para você baixar e ouvir onde quiser</p>
			</div>
		</header>

		<div>
			{% block conteudo %}
			TESTE
			{% endblock conteudo%}
		</div>

		<footer class="footer black-background">
			<div class="nav">
				<h3 class="white-text title-font">ACESSE:</h3>
				<div id="links">
					<a id="youtube" target="_blank" title="Nosso canal do Youtube" href="https://www.youtube.com/channel/UCyGRwgmcx5rLXjxl2xJcUZA"><img alt="follow me on youtube" src="https://www.youtube.com/yt/brand/media/image/YouTube-icon-full_color.png" border=0></a>
					<a id="facebook" target="_blank" title="Nossa página do Facebook" href="https://www.facebook.com/microfoniaproducoes/?hc_ref=SEARCH&fref=nf"><img alt="follow me on facebook" src="https://i0.wp.com/compratuoferta.com/images/facebook-blanco-01.png" border=0></a>
				</div>
				
			</div>
			<p class="white-text button-font">&copy; 2016 Microfonia Produções</p>
		<footer>
	</div>
</body>

<script src="{% static 'microfonia/jquery/jquery-3.2.1.min.js' %}"></script>
<script>

$(document).ready(function() {
	$("#menu-button").on("click", function(){

	$("#feed").toggleClass("menu-active");
	$("#menu").toggleClass("menu-expanded");
	});
});
</script>