{% extends "base.html" %}

{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'microfonia/descricao.css' %}" type="text/css" charset="utf-8"> {% endblock css%}

{% block conteudo %}


									<!-- TÍTULO -->
									
		<div id="name-video">
     		<h1 class="title-font main-size">{{ episode.name }}</h1>
			<h3 class="text-font text-size"> {{ episode.date }} </h3>
		</div>

									<!-- VÍDEO -->

		<div class="bigvideo">
			<iframe width="780" height="480" src= {{episode.url}} frameborder="0" allowfullscreen></iframe>
		</div>

									<!-- COMPARTILHAR E VER TODOS -->

		<div id="share" class="title-font">
			<text>COMPARTILHE</text>
			<text id="all">VER TODOS</text>
			<ul class="grey-text">
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			</ul>
			<hr class="grey-line divisory-line">
		</div>

									<!-- SINOPSE E VIDEOS RELACIONADOS -->

		<div id="description">
			<div id="desc-left">
				<div class="sino-cast">
					<h3 class="title-font secondary-size">SINOPSE</h3>
					
					<div class="text-font text-size">
						<p> {{ episode.sinopsis|linebreaks }}</p> 
						</div>
				</div>

				<hr class="grey-line divisory-line">

				<div class="sino-cast">
					<h3 class="title-font secondary-size">ELENCO</h3>
					<div class="text-font text-size">
						<p> {{ episode.cast|linebreaks }} </p>
					</div>
				</div>

			</div>

			<div id="desc-right" class="grey-line">
				<div id="vid-rel" class="title-font secondary-size">
					VIDEOS RELACIONADOS
					<img src="{% static 'microfonia/img/thumbnail.jpg' %}" alt="thumbnail" class="thumb-rel">
					<img src="{% static 'microfonia/img/thumbnail2.jpg' %}" alt="thumbnail" class="thumb-rel">
				</div>
			</div>
		</div>

{% endblock conteudo %}
