
{% extends "base.html" %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'microfonia/home.css' %}" type="text/css" charset="utf-8"> {% endblock css %}


{% block header %}
<header class="header">

	<div>
		<h1 class="title-font title-fontcolor aligncenter home-title">MICROFONIA PRODUÇÕES</h1>
		<p class="subtitle-font title-fontcolor aligncenter home-subtitle">Áudio-dramas e podcasts para você baixar e ouvir onde quiser</p>
	</div>

</header>
{% endblock header %}

{% block conteudo %}

<div class="featured">
	<div class='layout-serie'>
		<div class='feat-background' id='first-serie'></div>
		
		<div class="feat-header">
			<h3 class="title-font">DESTAQUE</h3>
			<h2 class="white-text">CASOS DA CIDADE DO COBRE</h2>
		</div>

		<div class="feat-summary">
			<p class="white-text text-font">O ano é 1943. Coisas estranhas acontecem em Andalaia, a Cidade do Cobre, um complicado lugar perto da divisa entre o Rio de Janeiro e São Paulo. Nessa cidade de intrigas, sujeira e gente corrupta, o detetive Marcelo Vargas tenta desvendar uma série de assassinatos. # Episódio Ouvir Download 1 “Casos da Cidade do Cobre […]</p>

		</div>
		<a href="#" class="more-link button-font aligncenter">LEIA MAIS <i class="fa fa-long-arrow-right" aria-hidden="true"></i></i></a>
	</div>
	

	<div class='layout-serie'>
		<div class="feat-background" id='second-serie'></div>
				

		<div class="feat-header">
			<h2 class="white-text">ATRAVÉS DO VÉU</h2>
		</div>

		<div class="feat-summary">
			<p class="white-text text-font">Em meio à uma noite aparentemente chata, Carina descobre um mundo oculto quando é atacada na estação do metrô. Agora ela está envolvida em uma disputa entre magos por um artefato poderoso e os ambos os mundos estão em risco.</p>		
		</div>
		<a href="#" class="more-link button-font aligncenter">LEIA MAIS <i class="fa fa-long-arrow-right" aria-hidden="true"></i></i></a>
	</div>

</div>

{% endblock conteudo %}