
{% extends "base.html" %}

{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'microfonia/videos.css' %}" type="text/css" charset="utf-8"> {% endblock css%}

{% block conteudo %}
		

									<!-- TÍTULO -->
		<div class="main">
			<div class="container">
				<h1 class="fonte-titulo size-principal aligncenter">MICROFONIA PRODUÇÕES</h1>
				<p> bla blá</p>
				<img id="capa-serie" src="https://i.ytimg.com/vi/UPt5-Kr0GCM/maxresdefault.jpg"/>
			</div>
		</div>

									<!-- SESSÃO DAS SÉRIES-->
		<div class="section">
			<div class="container">
				{%for serie in all_series%}
				<div class="row">	
					<div class="col-md-6">
						<h3>{{serie.name}}</h3>
						<img src="{{serie.img}}"/>
					</div>
					<div class="col-md-6">
						<ul>

							{% for episode in all_episodes%}
								{%if episode.serie.name == serie.name%}
								<li> {{episode.episode}} </li>
								{%endif%}
							{%endfor%}
						</ul>
					</div>	
				</div>
				{%endfor%}
			</div>
		</div>	


{% endblock conteudo %}
