#share {
	position: relative;
	margin-top: 30px;
	font-size: 30px;

}
#share #all {
	position: absolute;
	right: 0;
}

#share ul {
	list-style-type: none;
	position: relative; 
	padding: 0;
}

#share ul li {
	display: inline-block;
	padding: 0 10px;
}

#description {
	position: relative;
}

#description #desc-left {
	width: 50%;
	position: relative;
}

#description #desc-left .grey-line {
	margin-left: 0;
	width: 95%;
}

.sino-cast h3{
	padding-top: 20px;
}

.sino-cast p {
	width: 80%;
	margin-bottom: 40px;
}

#description #desc-right{
	width: 50%;
	right: 0;
	top: 0;
	position: absolute;
	border-left: 1px solid #333;
	height: 100%;
	padding-top: 20px;
}


#description #desc-right #vid-rel{
	margin-left: 20px;
}

#description #desc-right #vid-rel .thumb-rel {
	margin: 30px 10px;
    max-height: 400px;
    width: 100%;
}




