@font-face {
  	font-family: 'Raleway';
  	src: url('/static/microfonia/fonts/Raleway-Bold.ttf');
  	font-weight: normal;
}

@font-face {
  	font-family: 'Raleway';
  	src: url('/static/microfonia/fonts/Raleway-Black.ttf');
  	font-size: 1em;
  	font-weight: bold;
}


.header{
	position: fixed;
	width: 100%;
	background-color: #000;
	z-index: 10;
}

.logoheader{
	width: 300px;
	margin-left: 250px;

}
.nav ul{
	margin-top: 25px;
	margin-right: 200px;
	font-size: 20px;
	font-family: 'Raleway';
  	font-weight: bold;
  	color: white;
}

.nav li{
	padding: 50px;
	display: inline;

}

.aligncenter {
	text-align: center;
}

.grey-background {
	background-color: #222;
}

.black-background {
	background-color: #000;
}

.bg-format {
	height: 100%;
	position: relative;
}

.content-format {
	margin: 0 auto;
	width: 980px;
    padding: 40px 100px;
    color: #FFF;
}

.main-size{
	padding-top: 60px;
	margin: 0;
	font-size: 40px;
}


.secondary-size{
	font-size:30px;
}

.text-size{
	margin-top: 0;
	font-size: 20px;
}


.title-font {
	font-family: 'Raleway';
	font-weight: bold;
}

.text-font {
	font-family: 'Raleway';
	font-weight: normal;
}


.divisory-line {
	width: 100%;
	margin-bottom: 5px;
}

.grey-line {
	border-color: #333;
}

.grey-text{
	color: #333;
}

.bigvideo {
	width: 780px;
	margin: auto;
}


.footer p {
	margin-top: 90px;

	float: left;
	font-size: 15px
}

.footer a{
	font-weight: lighter;
	float: right;

}
.footer img {
	margin-top: 80px;
	margin-right: 25px;
	width: 30px;
	height: 30px;
}