@font-face {
	font-family: 'Lato', sans-serif;
    src: url('/fonts/Lato-Light.ttf');
    font-weight: 200;
}

@font-face {
	font-family: 'Lato', sans-serif;
    src: url('/fonts/Lato-Bold.ttf');
    font-weight: 700;
}


body {
	left: 0;
	position: relative;
	transition: .3s left ease-in-out;
}

#menu {
	position: fixed;
	z-index: 3;
	top: 0;
	right: -650;
	width: 650px;
	height: 100%;
	background-color: #252525;
	transition: .3s all ease-in-out;
}

.menu-active{
	left:-650!important;
	position: relative;
}

.menu-expanded{
	display: block;
	position: fixed;
	right: 0!important;
	top: 0 !important;
}

.header{
	width: 100%;
	min-height: 300px;
	background-color: #252525;
}

.header h1 {
	transition: 0.5s all ease-in-out;
}

.menu-button{
	border-style: solid;
	position: fixed;
	z-index: 3;
	top: 20px;
	right: 30px;
	transition: .3s all ease-in-out;
	border-color: rgba(255,255,255,.7);
	color: rgba(255,255,255,.7);
	background-color: #252525;
}
.button-menu-open {
	right: 680;
}


.menu-button:focus{
	outline: 0;
}

.menu-button i{
	padding-right: 8px;
}

.title-fontcolor { 
	/* font color for the black header*/
	color: rgba(255,255,255,.7)
}

.title-font{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 30px;
}

.button-font{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 22px;
}

.subtitle-font{
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 14px;
}

.text-font {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 14px;
}

.home-title{
	text-align: left;
	padding-top: 16px;
	padding-left: 24px;
	margin: 0;
}


.home-subtitle{
	text-align: left;
	padding-top: 4px;
	padding-left: 24px;
}

.serie-title {
	text-transform: uppercase;
	font-size: 40px;
}


.page-title {
	padding-top: 44px;
	margin-bottom: 0;
}

.pagetitle-font{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 80px;
}

.nav ul{
	margin-top: 45px;
	margin-right: 200px;
	font-size: 18px;
  	color: white;
}

.nav li{
	padding: 2px;
	list-style: none;
}

.nav a:link, .nav a:visited{
	color: white;
}

.nav a:hover, .nav a:focus, .nav a:active{
	color: gray;
	transition: linear 0.05s;
}

.aligncenter {
	text-align: center;
}

.alignleft{
	text-align: left;
}

.alignright{
	text-align: right;
}

.justify{
	text-align: justify;
}

.grey-background {
	background-color: #222;
}


.black-background {
	background-color: #000;
}

.bg-format {
	height: 100%;
	position: relative;
}

.content-format {
	margin: 0 auto;
	width: 980px;
    padding: 40px 100px;
    color: #FFF;
}

.main-size{
	padding-top: 60px;
	margin: 0;
	font-size: 40px;
}


.secondary-size{
	font-size:30px;
}

.text-size{
	margin-top: 0;
	font-size: 20px;
}

.divisory-line {
	width: 100%;
	margin-bottom: 5px;
}

.grey-line {
	border-color: #666;
}

.grey-text{
	color: #333;
}

.bigvideo {
	width: 780px;
	margin: auto;
}

.footer {
	height: 400px;
}

#first-element{
	text-align: center;
	padding-top: 90px;
	padding-bottom: 20px;
	background-color: white;
	color: black;
	width: 980px;
	margin-left: -100px;

}

#first-element p{
	text-align: center;
	font-size: 18px;
	margin-bottom: 80px;
}

a{
	color: white;
}


.footer p {
	width: 268px;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

.white-text {
	color: #FFF;
}

.black-text {
	color: #000;
}

.footer .nav {
	min-width: 300px;
}

.footer .nav h3{
	text-align: center;
	font-size: 32px;
	margin-top: 80px;
}

.footer .footerlinks {
	width: 300px; 
	margin: 0 auto;
	display: flex;
}


.footer .access-links {
    font-weight: lighter;
    flex: 1;
    margin: 20px 20px 0 20px;
}

.footer #facebook {
    margin-left: 90px;
}

.footer .access-links img {
	height: 80px;
}

.hide {
	display: none;
}

.default-link:hover, .default-link:focus, .default-link:active {
	text-decoration: none;
}
