

#capa-serie{
  border-radius: 8px;
  border: 2px solid white;
  width: 610px;
  height: auto;
  margin: 40px auto;
}

.section .container {
  padding-top: 50px;
  font-family: 'Raleway';
  font-weight: bold;
  
}

body .container {
  width: 640px;
}

.container h3{
  font-family: 'Raleway';
  font-weight: bold;
  text-align: center;
}

.container img{
    height: 200px;
    margin: 0;
    
}

.container ul{
  margin-top: 40px;
}

.section ul{
  list-style-type: none;
  margin-left: 100px;
}
.section li{
  padding-bottom: 3px;
}
